infra/n8n/workflows/daily-report.json
{
  "name": "Daily Report Generator",
  "nodes": [
    {
      "id": "schedule-daily",
      "name": "Daily 22:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "rule": {
          "hour": [
            {
              "field": "hour",
              "hoursInterval": 24
            }
          ]
        },
        "activationHours": {
          "hour": 22,
          "minute": 0
        }
      }
    },
    {
      "id": "http-dashboard",
      "name": "GET Dashboard Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 150],
      "parameters": {
        "method": "GET",
        "url": "http://backend:3001/api/admin/dashboard",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.BACKEND_ADMIN_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "http-revenue-chart",
      "name": "GET Revenue Chart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300],
      "parameters": {
        "method": "GET",
        "url": "http://backend:3001/api/admin/dashboard/revenue-chart?days=7",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.BACKEND_ADMIN_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "http-top-restaurants",
      "name": "GET Top Restaurants",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 450],
      "parameters": {
        "method": "GET",
        "url": "http://backend:3001/api/admin/dashboard/top-restaurants?limit=10",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.BACKEND_ADMIN_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "merge-all-data",
      "name": "Merge All Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [650, 300],
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition"
      }
    },
    {
      "id": "gemini-report",
      "name": "Gemini Generate Report",
      "type": "n8n-nodes-base.googleAi",
      "typeVersion": 1,
      "position": [850, 300],
      "parameters": {
        "options": {
          "model": "gemini-pro",
          "temperature": 0.5,
          "maxOutputTokens": 1000
        },
        "messages": {
          "values": [
            {
              "message": "Bạn là chuyên gia phân tích kinh doanh cho ứng dụng giao đồ ăn. Hãy tạo báo cáo tổng kết cuối ngày bằng tiếng Việt, ngắn gọn và chuyên nghiệp.\n\nDữ liệu hôm nay:\n- Dashboard: {{ $node['GET Dashboard Stats'].json | toJSON }}\n- Doanh thu 7 ngày: {{ $node['GET Revenue Chart'].json | toJSON }}\n- Top nhà hàng: {{ $node['GET Top Restaurants'].json | toJSON }}\n\nHãy tạo báo cáo gồm:\n1. Tổng quan: tổng đơn hàng, doanh thu, người dùng mới\n2. Xu hướng: so sánh với hôm qua và tuần trước\n3. Top nhà hàng: nhà hàng có doanh thu cao nhất\n4. Điểm nổi bật và khuyến nghị\n\nĐịnh dạng markdown, ngắn gọn.",
              "role": "user"
            }
          ]
        },
        "subParameters": {
          "parameters": [
            { "name": "fallbackToLatestModel", "value": true }
          ]
        }
      }
    },
    {
      "id": "send-email",
      "name": "Send Email Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1.1,
      "position": [1050, 200],
      "parameters": {
        "fromEmail": "report@fooddelivery.com",
        "toEmail": "{{ $env.ADMIN_EMAIL }}",
        "subject": "Báo cáo tổng kết ngày {{ new Date().toLocaleDateString('vi-VN') }}",
        "emailType": "text",
        "message": "{{ $node['Gemini Generate Report'].json.candidates[0].content.parts[0].text }}",
        "options": {}
      },
      "credentials": {
        "smtp": {
          "id": "{{ $env.SMTP_CREDENTIAL_ID }}",
          "name": "SMTP"
        }
      }
    },
    {
      "id": "send-telegram",
      "name": "Send Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1050, 400],
      "parameters": {
        "chatId": "{{ $env.TELEGRAM_ADMIN_CHAT_ID }}",
        "text": "📊 *Báo cáo cuối ngày*\n\n{{ $node['Gemini Generate Report'].json.candidates[0].content.parts[0].text }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "{{ $env.TELEGRAM_CREDENTIAL_ID }}",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "id": "noop-end-report",
      "name": "Done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1250, 300],
      "parameters": {}
    }
  ],
  "connections": {
    "Daily 22:00": {
      "main": [
        [{ "node": "GET Dashboard Stats", "type": "main", "index": 0 }]
      ]
    },
    "GET Dashboard Stats": {
      "main": [
        [{ "node": "Merge All Data", "type": "main", "index": 0 }]
      ]
    },
    "GET Revenue Chart": {
      "main": [
        [{ "node": "Merge All Data", "type": "main", "index": 0 }]
      ]
    },
    "GET Top Restaurants": {
      "main": [
        [{ "node": "Merge All Data", "type": "main", "index": 0 }]
      ]
    },
    "Merge All Data": {
      "main": [
        [{ "node": "Gemini Generate Report", "type": "main", "index": 0 }]
      ]
    },
    "Gemini Generate Report": {
      "main": [
        [{ "node": "Send Email Report", "type": "main", "index": 0 }]
      ]
    },
    "Send Email Report": {
      "main": [
        [{ "node": "Send Telegram Alert", "type": "main", "index": 0 }]
      ]
    },
    "Send Telegram Alert": {
      "main": [
        [{ "node": "Done", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    { "name": "Report" },
    { "name": "Daily" },
    { "name": "Email" },
    { "name": "Telegram" }
  ],
  "triggerCount": 0,
  "versionId": "1.0.0"
}
