infra/n8n/workflows/driver-delay-detector.json
{
  "name": "Driver Delay Detector",
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "Every 1 Minute",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      }
    },
    {
      "id": "http-get-delayed",
      "name": "GET Delayed Orders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300],
      "parameters": {
        "method": "GET",
        "url": "http://backend:3001/api/webhooks/delayed-orders?threshold=15",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.BACKEND_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "if-has-results",
      "name": "Has Results?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "{{ $json.length }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      }
    },
    {
      "id": "loop-over-orders",
      "name": "Loop Over Orders",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [850, 200],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "notify-driver",
      "name": "Notify Driver",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 200],
      "parameters": {
        "method": "POST",
        "url": "http://backend:3001/api/notifications/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.BACKEND_API_KEY }}"
            }
          ]
        },
        "contentType": "json",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "userId", "value": "{{ $json.driverId }}" },
            { "name": "type", "value": "delay_warning" },
            { "name": "title", "value": "Đơn hàng đang bị chậm" },
            { "name": "message", "value": "Đơn hàng {{ $json.orderCode }} đã chậm {{ $json.delayMinutes }} phút. Vui lòng cập nhật trạng thái." },
            { "name": "orderId", "value": "{{ $json.orderId }}" }
          ]
        },
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "if-severe-delay",
      "name": "Delay > 30 min?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 400],
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "{{ $json.delayMinutes }}",
              "operation": "larger",
              "value2": 30
            }
          ]
        }
      }
    },
    {
      "id": "create-ticket-severe",
      "name": "Create Escalation Ticket",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 350],
      "parameters": {
        "method": "POST",
        "url": "http://backend:3001/api/admin/tickets",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.BACKEND_ADMIN_KEY }}"
            }
          ]
        },
        "contentType": "json",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "type", "value": "driver_delay" },
            { "name": "priority", "value": "high" },
            { "name": "orderId", "value": "{{ $json.orderId }}" },
            { "name": "driverId", "value": "{{ $json.driverId }}" },
            { "name": "description", "value": "Đơn hàng {{ $json.orderCode }} chậm {{ $json.delayMinutes }} phút. Cần can thiệp." }
          ]
        },
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "notify-admin",
      "name": "Notify Admin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 500],
      "parameters": {
        "method": "POST",
        "url": "http://backend:3001/api/notifications/admin",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.BACKEND_ADMIN_KEY }}"
            }
          ]
        },
        "contentType": "json",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "type", "value": "escalation" },
            { "name": "title", "value": "Cảnh báo: Đơn hàng chậm nghiêm trọng" },
            { "name": "message", "value": "Đơn hàng {{ $json.orderCode }} (tài xế: {{ $json.driverName }}) đã chậm {{ $json.delayMinutes }} phút. Đã tạo ticket khẩn." },
            { "name": "channel", "value": "admin_support" }
          ]
        },
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "noop-end",
      "name": "Done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1450, 200],
      "parameters": {}
    }
  ],
  "connections": {
    "Every 1 Minute": {
      "main": [
        [{ "node": "GET Delayed Orders", "type": "main", "index": 0 }]
      ]
    },
    "GET Delayed Orders": {
      "main": [
        [{ "node": "Has Results?", "type": "main", "index": 0 }]
      ]
    },
    "Has Results?": {
      "main": [
        [{ "node": "Loop Over Orders", "type": "main", "index": 0 }],
        [{ "node": "Done", "type": "main", "index": 0 }]
      ]
    },
    "Loop Over Orders": {
      "main": [
        [{ "node": "Notify Driver", "type": "main", "index": 0 }]
      ]
    },
    "Notify Driver": {
      "main": [
        [{ "node": "Delay > 30 min?", "type": "main", "index": 0 }]
      ]
    },
    "Delay > 30 min?": {
      "main": [
        [{ "node": "Create Escalation Ticket", "type": "main", "index": 0 }],
        [{ "node": "Done", "type": "main", "index": 0 }]
      ]
    },
    "Create Escalation Ticket": {
      "main": [
        [{ "node": "Notify Admin", "type": "main", "index": 0 }]
      ]
    },
    "Notify Admin": {
      "main": [
        [{ "node": "Done", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    { "name": "Driver" },
    { "name": "Delay" },
    { "name": "Monitoring" }
  ],
  "triggerCount": 0,
  "versionId": "1.0.0"
}
